@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap");
.test-btn {
  color: rgb(252, 252, 11);
  background-color: rgba(248, 50, 50, 0.904);
}

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: rgb(2, 145, 85);
}

hr {
  border: 0;
  border-top: 1px dotted rgb(255, 252, 252);
}

img {
  max-width: 100%;
}

.text-primary {
  color: rgb(0, 162, 255);
}

.text-hover-primary:hover {
  color: rgb(0, 162, 255);
}

.bg-primary {
  background-color: rgb(0, 162, 255);
}

.text-primary-light-1 {
  color: #1aabff;
}

.text-hover-primary-light-1:hover {
  color: #1aabff;
}

.bg-primary-light-1 {
  background-color: #1aabff;
}

.text-primary-light-2 {
  color: #33b5ff;
}

.text-hover-primary-light-2:hover {
  color: #33b5ff;
}

.bg-primary-light-2 {
  background-color: #33b5ff;
}

.text-primary-light-3 {
  color: #4dbeff;
}

.text-hover-primary-light-3:hover {
  color: #4dbeff;
}

.bg-primary-light-3 {
  background-color: #4dbeff;
}

.text-primary-light-4 {
  color: #66c7ff;
}

.text-hover-primary-light-4:hover {
  color: #66c7ff;
}

.bg-primary-light-4 {
  background-color: #66c7ff;
}

.text-primary-light-5 {
  color: #80d1ff;
}

.text-hover-primary-light-5:hover {
  color: #80d1ff;
}

.bg-primary-light-5 {
  background-color: #80d1ff;
}

.text-primary-light-6 {
  color: #99daff;
}

.text-hover-primary-light-6:hover {
  color: #99daff;
}

.bg-primary-light-6 {
  background-color: #99daff;
}

.text-primary-light-7 {
  color: #b3e3ff;
}

.text-hover-primary-light-7:hover {
  color: #b3e3ff;
}

.bg-primary-light-7 {
  background-color: #b3e3ff;
}

.text-primary-light-8 {
  color: #ccecff;
}

.text-hover-primary-light-8:hover {
  color: #ccecff;
}

.bg-primary-light-8 {
  background-color: #ccecff;
}

.text-primary-light-9 {
  color: #e6f6ff;
}

.text-hover-primary-light-9:hover {
  color: #e6f6ff;
}

.bg-primary-light-9 {
  background-color: #e6f6ff;
}

.text-primary-dark-1 {
  color: #0092e6;
}

.text-hover-primary-dark-1:hover {
  color: #0092e6;
}

.bg-primary-dark-1 {
  background-color: #0092e6;
}

.text-primary-dark-2 {
  color: #0082cc;
}

.text-hover-primary-dark-2:hover {
  color: #0082cc;
}

.bg-primary-dark-2 {
  background-color: #0082cc;
}

.text-primary-dark-3 {
  color: #0071b3;
}

.text-hover-primary-dark-3:hover {
  color: #0071b3;
}

.bg-primary-dark-3 {
  background-color: #0071b3;
}

.text-primary-dark-4 {
  color: #006199;
}

.text-hover-primary-dark-4:hover {
  color: #006199;
}

.bg-primary-dark-4 {
  background-color: #006199;
}

.text-primary-dark-5 {
  color: #005180;
}

.text-hover-primary-dark-5:hover {
  color: #005180;
}

.bg-primary-dark-5 {
  background-color: #005180;
}

.text-primary-dark-6 {
  color: #004166;
}

.text-hover-primary-dark-6:hover {
  color: #004166;
}

.bg-primary-dark-6 {
  background-color: #004166;
}

.text-primary-dark-7 {
  color: #00314d;
}

.text-hover-primary-dark-7:hover {
  color: #00314d;
}

.bg-primary-dark-7 {
  background-color: #00314d;
}

.text-primary-dark-8 {
  color: #002033;
}

.text-hover-primary-dark-8:hover {
  color: #002033;
}

.bg-primary-dark-8 {
  background-color: #002033;
}

.text-primary-dark-9 {
  color: #00101a;
}

.text-hover-primary-dark-9:hover {
  color: #00101a;
}

.bg-primary-dark-9 {
  background-color: #00101a;
}

.text-secondary {
  color: rgb(2, 145, 85);
}

.text-hover-secondary:hover {
  color: rgb(2, 145, 85);
}

.bg-secondary {
  background-color: rgb(2, 145, 85);
}

.text-secondary-light-1 {
  color: #1b9c66;
}

.text-hover-secondary-light-1:hover {
  color: #1b9c66;
}

.bg-secondary-light-1 {
  background-color: #1b9c66;
}

.text-secondary-light-2 {
  color: #35a777;
}

.text-hover-secondary-light-2:hover {
  color: #35a777;
}

.bg-secondary-light-2 {
  background-color: #35a777;
}

.text-secondary-light-3 {
  color: #4eb288;
}

.text-hover-secondary-light-3:hover {
  color: #4eb288;
}

.bg-secondary-light-3 {
  background-color: #4eb288;
}

.text-secondary-light-4 {
  color: #67bd99;
}

.text-hover-secondary-light-4:hover {
  color: #67bd99;
}

.bg-secondary-light-4 {
  background-color: #67bd99;
}

.text-secondary-light-5 {
  color: #81c8aa;
}

.text-hover-secondary-light-5:hover {
  color: #81c8aa;
}

.bg-secondary-light-5 {
  background-color: #81c8aa;
}

.text-secondary-light-6 {
  color: #9ad3bb;
}

.text-hover-secondary-light-6:hover {
  color: #9ad3bb;
}

.bg-secondary-light-6 {
  background-color: #9ad3bb;
}

.text-secondary-light-7 {
  color: #b3decc;
}

.text-hover-secondary-light-7:hover {
  color: #b3decc;
}

.bg-secondary-light-7 {
  background-color: #b3decc;
}

.text-secondary-light-8 {
  color: #cce9dd;
}

.text-hover-secondary-light-8:hover {
  color: #cce9dd;
}

.bg-secondary-light-8 {
  background-color: #cce9dd;
}

.text-secondary-light-9 {
  color: #e6f4ee;
}

.text-hover-secondary-light-9:hover {
  color: #e6f4ee;
}

.bg-secondary-light-9 {
  background-color: #e6f4ee;
}

.text-secondary-dark-1 {
  color: #02834d;
}

.text-hover-secondary-dark-1:hover {
  color: #02834d;
}

.bg-secondary-dark-1 {
  background-color: #02834d;
}

.text-secondary-dark-2 {
  color: #027444;
}

.text-hover-secondary-dark-2:hover {
  color: #027444;
}

.bg-secondary-dark-2 {
  background-color: #027444;
}

.text-secondary-dark-3 {
  color: #01663c;
}

.text-hover-secondary-dark-3:hover {
  color: #01663c;
}

.bg-secondary-dark-3 {
  background-color: #01663c;
}

.text-secondary-dark-4 {
  color: #015733;
}

.text-hover-secondary-dark-4:hover {
  color: #015733;
}

.bg-secondary-dark-4 {
  background-color: #015733;
}

.text-secondary-dark-5 {
  color: #01492b;
}

.text-hover-secondary-dark-5:hover {
  color: #01492b;
}

.bg-secondary-dark-5 {
  background-color: #01492b;
}

.text-secondary-dark-6 {
  color: #013a22;
}

.text-hover-secondary-dark-6:hover {
  color: #013a22;
}

.bg-secondary-dark-6 {
  background-color: #013a22;
}

.text-secondary-dark-7 {
  color: #012c1a;
}

.text-hover-secondary-dark-7:hover {
  color: #012c1a;
}

.bg-secondary-dark-7 {
  background-color: #012c1a;
}

.text-secondary-dark-8 {
  color: #001d11;
}

.text-hover-secondary-dark-8:hover {
  color: #001d11;
}

.bg-secondary-dark-8 {
  background-color: #001d11;
}

.text-secondary-dark-9 {
  color: #000f09;
}

.text-hover-secondary-dark-9:hover {
  color: #000f09;
}

.bg-secondary-dark-9 {
  background-color: #000f09;
}

.text-error {
  color: rgba(248, 50, 50, 0.904);
}

.text-hover-error:hover {
  color: rgba(248, 50, 50, 0.904);
}

.bg-error {
  background-color: rgba(248, 50, 50, 0.904);
}

.text-error-light-1 {
  color: rgba(249, 74, 74, 0.9136);
}

.text-hover-error-light-1:hover {
  color: rgba(249, 74, 74, 0.9136);
}

.bg-error-light-1 {
  background-color: rgba(249, 74, 74, 0.9136);
}

.text-error-light-2 {
  color: rgba(250, 98, 98, 0.9232);
}

.text-hover-error-light-2:hover {
  color: rgba(250, 98, 98, 0.9232);
}

.bg-error-light-2 {
  background-color: rgba(250, 98, 98, 0.9232);
}

.text-error-light-3 {
  color: rgba(250, 120, 120, 0.9328);
}

.text-hover-error-light-3:hover {
  color: rgba(250, 120, 120, 0.9328);
}

.bg-error-light-3 {
  background-color: rgba(250, 120, 120, 0.9328);
}

.text-error-light-4 {
  color: rgba(251, 142, 142, 0.9424);
}

.text-hover-error-light-4:hover {
  color: rgba(251, 142, 142, 0.9424);
}

.bg-error-light-4 {
  background-color: rgba(251, 142, 142, 0.9424);
}

.text-error-light-5 {
  color: rgba(252, 162, 162, 0.952);
}

.text-hover-error-light-5:hover {
  color: rgba(252, 162, 162, 0.952);
}

.bg-error-light-5 {
  background-color: rgba(252, 162, 162, 0.952);
}

.text-error-light-6 {
  color: rgba(253, 182, 182, 0.9616);
}

.text-hover-error-light-6:hover {
  color: rgba(253, 182, 182, 0.9616);
}

.bg-error-light-6 {
  background-color: rgba(253, 182, 182, 0.9616);
}

.text-error-light-7 {
  color: rgba(253, 201, 201, 0.9712);
}

.text-hover-error-light-7:hover {
  color: rgba(253, 201, 201, 0.9712);
}

.bg-error-light-7 {
  background-color: rgba(253, 201, 201, 0.9712);
}

.text-error-light-8 {
  color: rgba(254, 220, 220, 0.9808);
}

.text-hover-error-light-8:hover {
  color: rgba(254, 220, 220, 0.9808);
}

.bg-error-light-8 {
  background-color: rgba(254, 220, 220, 0.9808);
}

.text-error-light-9 {
  color: rgba(254, 238, 238, 0.9904);
}

.text-hover-error-light-9:hover {
  color: rgba(254, 238, 238, 0.9904);
}

.bg-error-light-9 {
  background-color: rgba(254, 238, 238, 0.9904);
}

.text-error-dark-1 {
  color: rgba(219, 44, 44, 0.9136);
}

.text-hover-error-dark-1:hover {
  color: rgba(219, 44, 44, 0.9136);
}

.bg-error-dark-1 {
  background-color: rgba(219, 44, 44, 0.9136);
}

.text-error-dark-2 {
  color: rgba(190, 38, 38, 0.9232);
}

.text-hover-error-dark-2:hover {
  color: rgba(190, 38, 38, 0.9232);
}

.bg-error-dark-2 {
  background-color: rgba(190, 38, 38, 0.9232);
}

.text-error-dark-3 {
  color: rgba(163, 33, 33, 0.9328);
}

.text-hover-error-dark-3:hover {
  color: rgba(163, 33, 33, 0.9328);
}

.bg-error-dark-3 {
  background-color: rgba(163, 33, 33, 0.9328);
}

.text-error-dark-4 {
  color: rgba(137, 28, 28, 0.9424);
}

.text-hover-error-dark-4:hover {
  color: rgba(137, 28, 28, 0.9424);
}

.bg-error-dark-4 {
  background-color: rgba(137, 28, 28, 0.9424);
}

.text-error-dark-5 {
  color: rgba(112, 23, 23, 0.952);
}

.text-hover-error-dark-5:hover {
  color: rgba(112, 23, 23, 0.952);
}

.bg-error-dark-5 {
  background-color: rgba(112, 23, 23, 0.952);
}

.text-error-dark-6 {
  color: rgba(88, 18, 18, 0.9616);
}

.text-hover-error-dark-6:hover {
  color: rgba(88, 18, 18, 0.9616);
}

.bg-error-dark-6 {
  background-color: rgba(88, 18, 18, 0.9616);
}

.text-error-dark-7 {
  color: rgba(65, 13, 13, 0.9712);
}

.text-hover-error-dark-7:hover {
  color: rgba(65, 13, 13, 0.9712);
}

.bg-error-dark-7 {
  background-color: rgba(65, 13, 13, 0.9712);
}

.text-error-dark-8 {
  color: rgba(42, 9, 9, 0.9808);
}

.text-hover-error-dark-8:hover {
  color: rgba(42, 9, 9, 0.9808);
}

.bg-error-dark-8 {
  background-color: rgba(42, 9, 9, 0.9808);
}

.text-error-dark-9 {
  color: rgba(21, 4, 4, 0.9904);
}

.text-hover-error-dark-9:hover {
  color: rgba(21, 4, 4, 0.9904);
}

.bg-error-dark-9 {
  background-color: rgba(21, 4, 4, 0.9904);
}

.text-info {
  color: rgb(226, 226, 40);
}

.text-hover-info:hover {
  color: rgb(226, 226, 40);
}

.bg-info {
  background-color: rgb(226, 226, 40);
}

.text-info-light-1 {
  color: #e5e53e;
}

.text-hover-info-light-1:hover {
  color: #e5e53e;
}

.bg-info-light-1 {
  background-color: #e5e53e;
}

.text-info-light-2 {
  color: #e8e853;
}

.text-hover-info-light-2:hover {
  color: #e8e853;
}

.bg-info-light-2 {
  background-color: #e8e853;
}

.text-info-light-3 {
  color: #ebeb69;
}

.text-hover-info-light-3:hover {
  color: #ebeb69;
}

.bg-info-light-3 {
  background-color: #ebeb69;
}

.text-info-light-4 {
  color: #eeee7e;
}

.text-hover-info-light-4:hover {
  color: #eeee7e;
}

.bg-info-light-4 {
  background-color: #eeee7e;
}

.text-info-light-5 {
  color: #f1f194;
}

.text-hover-info-light-5:hover {
  color: #f1f194;
}

.bg-info-light-5 {
  background-color: #f1f194;
}

.text-info-light-6 {
  color: #f3f3a9;
}

.text-hover-info-light-6:hover {
  color: #f3f3a9;
}

.bg-info-light-6 {
  background-color: #f3f3a9;
}

.text-info-light-7 {
  color: #f6f6bf;
}

.text-hover-info-light-7:hover {
  color: #f6f6bf;
}

.bg-info-light-7 {
  background-color: #f6f6bf;
}

.text-info-light-8 {
  color: #f9f9d4;
}

.text-hover-info-light-8:hover {
  color: #f9f9d4;
}

.bg-info-light-8 {
  background-color: #f9f9d4;
}

.text-info-light-9 {
  color: #fcfcea;
}

.text-hover-info-light-9:hover {
  color: #fcfcea;
}

.bg-info-light-9 {
  background-color: #fcfcea;
}

.text-info-dark-1 {
  color: #cbcb24;
}

.text-hover-info-dark-1:hover {
  color: #cbcb24;
}

.bg-info-dark-1 {
  background-color: #cbcb24;
}

.text-info-dark-2 {
  color: #b5b520;
}

.text-hover-info-dark-2:hover {
  color: #b5b520;
}

.bg-info-dark-2 {
  background-color: #b5b520;
}

.text-info-dark-3 {
  color: #9e9e1c;
}

.text-hover-info-dark-3:hover {
  color: #9e9e1c;
}

.bg-info-dark-3 {
  background-color: #9e9e1c;
}

.text-info-dark-4 {
  color: #888818;
}

.text-hover-info-dark-4:hover {
  color: #888818;
}

.bg-info-dark-4 {
  background-color: #888818;
}

.text-info-dark-5 {
  color: #717114;
}

.text-hover-info-dark-5:hover {
  color: #717114;
}

.bg-info-dark-5 {
  background-color: #717114;
}

.text-info-dark-6 {
  color: #5a5a10;
}

.text-hover-info-dark-6:hover {
  color: #5a5a10;
}

.bg-info-dark-6 {
  background-color: #5a5a10;
}

.text-info-dark-7 {
  color: #44440c;
}

.text-hover-info-dark-7:hover {
  color: #44440c;
}

.bg-info-dark-7 {
  background-color: #44440c;
}

.text-info-dark-8 {
  color: #2d2d08;
}

.text-hover-info-dark-8:hover {
  color: #2d2d08;
}

.bg-info-dark-8 {
  background-color: #2d2d08;
}

.text-info-dark-9 {
  color: #171704;
}

.text-hover-info-dark-9:hover {
  color: #171704;
}

.bg-info-dark-9 {
  background-color: #171704;
}

.text-blue {
  color: rgb(0, 0, 255);
}

.text-hover-blue:hover {
  color: rgb(0, 0, 255);
}

.bg-blue {
  background-color: rgb(0, 0, 255);
}

.text-blue-light-1 {
  color: #1a1aff;
}

.text-hover-blue-light-1:hover {
  color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.text-hover-blue-light-2:hover {
  color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.text-hover-blue-light-3:hover {
  color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.text-hover-blue-light-4:hover {
  color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.text-hover-blue-light-5:hover {
  color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.text-hover-blue-light-6:hover {
  color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.text-hover-blue-light-7:hover {
  color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.text-hover-blue-light-8:hover {
  color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.text-hover-blue-light-9:hover {
  color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.text-hover-blue-dark-1:hover {
  color: #0000e6;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.text-hover-blue-dark-2:hover {
  color: #0000cc;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.text-hover-blue-dark-3:hover {
  color: #0000b3;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.text-hover-blue-dark-4:hover {
  color: #000099;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.text-hover-blue-dark-5:hover {
  color: navy;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.text-hover-blue-dark-6:hover {
  color: #000066;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.text-hover-blue-dark-7:hover {
  color: #00004d;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.text-hover-blue-dark-8:hover {
  color: #000033;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.text-hover-blue-dark-9:hover {
  color: #00001a;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.text-red {
  color: rgb(253, 14, 14);
}

.text-hover-red:hover {
  color: rgb(253, 14, 14);
}

.bg-red {
  background-color: rgb(253, 14, 14);
}

.text-red-light-1 {
  color: #fd2626;
}

.text-hover-red-light-1:hover {
  color: #fd2626;
}

.bg-red-light-1 {
  background-color: #fd2626;
}

.text-red-light-2 {
  color: #fd3e3e;
}

.text-hover-red-light-2:hover {
  color: #fd3e3e;
}

.bg-red-light-2 {
  background-color: #fd3e3e;
}

.text-red-light-3 {
  color: #fe5656;
}

.text-hover-red-light-3:hover {
  color: #fe5656;
}

.bg-red-light-3 {
  background-color: #fe5656;
}

.text-red-light-4 {
  color: #fe6e6e;
}

.text-hover-red-light-4:hover {
  color: #fe6e6e;
}

.bg-red-light-4 {
  background-color: #fe6e6e;
}

.text-red-light-5 {
  color: #fe8787;
}

.text-hover-red-light-5:hover {
  color: #fe8787;
}

.bg-red-light-5 {
  background-color: #fe8787;
}

.text-red-light-6 {
  color: #fe9f9f;
}

.text-hover-red-light-6:hover {
  color: #fe9f9f;
}

.bg-red-light-6 {
  background-color: #fe9f9f;
}

.text-red-light-7 {
  color: #feb7b7;
}

.text-hover-red-light-7:hover {
  color: #feb7b7;
}

.bg-red-light-7 {
  background-color: #feb7b7;
}

.text-red-light-8 {
  color: #ffcfcf;
}

.text-hover-red-light-8:hover {
  color: #ffcfcf;
}

.bg-red-light-8 {
  background-color: #ffcfcf;
}

.text-red-light-9 {
  color: #ffe7e7;
}

.text-hover-red-light-9:hover {
  color: #ffe7e7;
}

.bg-red-light-9 {
  background-color: #ffe7e7;
}

.text-red-dark-1 {
  color: #e40d0d;
}

.text-hover-red-dark-1:hover {
  color: #e40d0d;
}

.bg-red-dark-1 {
  background-color: #e40d0d;
}

.text-red-dark-2 {
  color: #ca0b0b;
}

.text-hover-red-dark-2:hover {
  color: #ca0b0b;
}

.bg-red-dark-2 {
  background-color: #ca0b0b;
}

.text-red-dark-3 {
  color: #b10a0a;
}

.text-hover-red-dark-3:hover {
  color: #b10a0a;
}

.bg-red-dark-3 {
  background-color: #b10a0a;
}

.text-red-dark-4 {
  color: #980808;
}

.text-hover-red-dark-4:hover {
  color: #980808;
}

.bg-red-dark-4 {
  background-color: #980808;
}

.text-red-dark-5 {
  color: #7f0707;
}

.text-hover-red-dark-5:hover {
  color: #7f0707;
}

.bg-red-dark-5 {
  background-color: #7f0707;
}

.text-red-dark-6 {
  color: #650606;
}

.text-hover-red-dark-6:hover {
  color: #650606;
}

.bg-red-dark-6 {
  background-color: #650606;
}

.text-red-dark-7 {
  color: #4c0404;
}

.text-hover-red-dark-7:hover {
  color: #4c0404;
}

.bg-red-dark-7 {
  background-color: #4c0404;
}

.text-red-dark-8 {
  color: #330303;
}

.text-hover-red-dark-8:hover {
  color: #330303;
}

.bg-red-dark-8 {
  background-color: #330303;
}

.text-red-dark-9 {
  color: #190101;
}

.text-hover-red-dark-9:hover {
  color: #190101;
}

.bg-red-dark-9 {
  background-color: #190101;
}

.text-yellow {
  color: rgb(252, 252, 11);
}

.text-hover-yellow:hover {
  color: rgb(252, 252, 11);
}

.bg-yellow {
  background-color: rgb(252, 252, 11);
}

.text-yellow-light-1 {
  color: #fcfc23;
}

.text-hover-yellow-light-1:hover {
  color: #fcfc23;
}

.bg-yellow-light-1 {
  background-color: #fcfc23;
}

.text-yellow-light-2 {
  color: #fdfd3c;
}

.text-hover-yellow-light-2:hover {
  color: #fdfd3c;
}

.bg-yellow-light-2 {
  background-color: #fdfd3c;
}

.text-yellow-light-3 {
  color: #fdfd54;
}

.text-hover-yellow-light-3:hover {
  color: #fdfd54;
}

.bg-yellow-light-3 {
  background-color: #fdfd54;
}

.text-yellow-light-4 {
  color: #fdfd6d;
}

.text-hover-yellow-light-4:hover {
  color: #fdfd6d;
}

.bg-yellow-light-4 {
  background-color: #fdfd6d;
}

.text-yellow-light-5 {
  color: #fefe85;
}

.text-hover-yellow-light-5:hover {
  color: #fefe85;
}

.bg-yellow-light-5 {
  background-color: #fefe85;
}

.text-yellow-light-6 {
  color: #fefe9d;
}

.text-hover-yellow-light-6:hover {
  color: #fefe9d;
}

.bg-yellow-light-6 {
  background-color: #fefe9d;
}

.text-yellow-light-7 {
  color: #fefeb6;
}

.text-hover-yellow-light-7:hover {
  color: #fefeb6;
}

.bg-yellow-light-7 {
  background-color: #fefeb6;
}

.text-yellow-light-8 {
  color: #fefece;
}

.text-hover-yellow-light-8:hover {
  color: #fefece;
}

.bg-yellow-light-8 {
  background-color: #fefece;
}

.text-yellow-light-9 {
  color: #ffffe7;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe7;
}

.bg-yellow-light-9 {
  background-color: #ffffe7;
}

.text-yellow-dark-1 {
  color: #e3e30a;
}

.text-hover-yellow-dark-1:hover {
  color: #e3e30a;
}

.bg-yellow-dark-1 {
  background-color: #e3e30a;
}

.text-yellow-dark-2 {
  color: #caca09;
}

.text-hover-yellow-dark-2:hover {
  color: #caca09;
}

.bg-yellow-dark-2 {
  background-color: #caca09;
}

.text-yellow-dark-3 {
  color: #b0b008;
}

.text-hover-yellow-dark-3:hover {
  color: #b0b008;
}

.bg-yellow-dark-3 {
  background-color: #b0b008;
}

.text-yellow-dark-4 {
  color: #979707;
}

.text-hover-yellow-dark-4:hover {
  color: #979707;
}

.bg-yellow-dark-4 {
  background-color: #979707;
}

.text-yellow-dark-5 {
  color: #7e7e06;
}

.text-hover-yellow-dark-5:hover {
  color: #7e7e06;
}

.bg-yellow-dark-5 {
  background-color: #7e7e06;
}

.text-yellow-dark-6 {
  color: #656504;
}

.text-hover-yellow-dark-6:hover {
  color: #656504;
}

.bg-yellow-dark-6 {
  background-color: #656504;
}

.text-yellow-dark-7 {
  color: #4c4c03;
}

.text-hover-yellow-dark-7:hover {
  color: #4c4c03;
}

.bg-yellow-dark-7 {
  background-color: #4c4c03;
}

.text-yellow-dark-8 {
  color: #323202;
}

.text-hover-yellow-dark-8:hover {
  color: #323202;
}

.bg-yellow-dark-8 {
  background-color: #323202;
}

.text-yellow-dark-9 {
  color: #191901;
}

.text-hover-yellow-dark-9:hover {
  color: #191901;
}

.bg-yellow-dark-9 {
  background-color: #191901;
}

.text-green {
  color: rgb(6, 128, 6);
}

.text-hover-green:hover {
  color: rgb(6, 128, 6);
}

.bg-green {
  background-color: rgb(6, 128, 6);
}

.text-green-light-1 {
  color: #1f8d1f;
}

.text-hover-green-light-1:hover {
  color: #1f8d1f;
}

.bg-green-light-1 {
  background-color: #1f8d1f;
}

.text-green-light-2 {
  color: #389938;
}

.text-hover-green-light-2:hover {
  color: #389938;
}

.bg-green-light-2 {
  background-color: #389938;
}

.text-green-light-3 {
  color: #51a651;
}

.text-hover-green-light-3:hover {
  color: #51a651;
}

.bg-green-light-3 {
  background-color: #51a651;
}

.text-green-light-4 {
  color: #6ab36a;
}

.text-hover-green-light-4:hover {
  color: #6ab36a;
}

.bg-green-light-4 {
  background-color: #6ab36a;
}

.text-green-light-5 {
  color: #83c083;
}

.text-hover-green-light-5:hover {
  color: #83c083;
}

.bg-green-light-5 {
  background-color: #83c083;
}

.text-green-light-6 {
  color: #9bcc9b;
}

.text-hover-green-light-6:hover {
  color: #9bcc9b;
}

.bg-green-light-6 {
  background-color: #9bcc9b;
}

.text-green-light-7 {
  color: #b4d9b4;
}

.text-hover-green-light-7:hover {
  color: #b4d9b4;
}

.bg-green-light-7 {
  background-color: #b4d9b4;
}

.text-green-light-8 {
  color: #cde6cd;
}

.text-hover-green-light-8:hover {
  color: #cde6cd;
}

.bg-green-light-8 {
  background-color: #cde6cd;
}

.text-green-light-9 {
  color: #e6f2e6;
}

.text-hover-green-light-9:hover {
  color: #e6f2e6;
}

.bg-green-light-9 {
  background-color: #e6f2e6;
}

.text-green-dark-1 {
  color: #057305;
}

.text-hover-green-dark-1:hover {
  color: #057305;
}

.bg-green-dark-1 {
  background-color: #057305;
}

.text-green-dark-2 {
  color: #056605;
}

.text-hover-green-dark-2:hover {
  color: #056605;
}

.bg-green-dark-2 {
  background-color: #056605;
}

.text-green-dark-3 {
  color: #045a04;
}

.text-hover-green-dark-3:hover {
  color: #045a04;
}

.bg-green-dark-3 {
  background-color: #045a04;
}

.text-green-dark-4 {
  color: #044d04;
}

.text-hover-green-dark-4:hover {
  color: #044d04;
}

.bg-green-dark-4 {
  background-color: #044d04;
}

.text-green-dark-5 {
  color: #034003;
}

.text-hover-green-dark-5:hover {
  color: #034003;
}

.bg-green-dark-5 {
  background-color: #034003;
}

.text-green-dark-6 {
  color: #023302;
}

.text-hover-green-dark-6:hover {
  color: #023302;
}

.bg-green-dark-6 {
  background-color: #023302;
}

.text-green-dark-7 {
  color: #022602;
}

.text-hover-green-dark-7:hover {
  color: #022602;
}

.bg-green-dark-7 {
  background-color: #022602;
}

.text-green-dark-8 {
  color: #011a01;
}

.text-hover-green-dark-8:hover {
  color: #011a01;
}

.bg-green-dark-8 {
  background-color: #011a01;
}

.text-green-dark-9 {
  color: #010d01;
}

.text-hover-green-dark-9:hover {
  color: #010d01;
}

.bg-green-dark-9 {
  background-color: #010d01;
}

.text-orange {
  color: rgb(255, 169, 9);
}

.text-hover-orange:hover {
  color: rgb(255, 169, 9);
}

.bg-orange {
  background-color: rgb(255, 169, 9);
}

.text-orange-light-1 {
  color: #ffb222;
}

.text-hover-orange-light-1:hover {
  color: #ffb222;
}

.bg-orange-light-1 {
  background-color: #ffb222;
}

.text-orange-light-2 {
  color: #ffba3a;
}

.text-hover-orange-light-2:hover {
  color: #ffba3a;
}

.bg-orange-light-2 {
  background-color: #ffba3a;
}

.text-orange-light-3 {
  color: #ffc353;
}

.text-hover-orange-light-3:hover {
  color: #ffc353;
}

.bg-orange-light-3 {
  background-color: #ffc353;
}

.text-orange-light-4 {
  color: #ffcb6b;
}

.text-hover-orange-light-4:hover {
  color: #ffcb6b;
}

.bg-orange-light-4 {
  background-color: #ffcb6b;
}

.text-orange-light-5 {
  color: #ffd484;
}

.text-hover-orange-light-5:hover {
  color: #ffd484;
}

.bg-orange-light-5 {
  background-color: #ffd484;
}

.text-orange-light-6 {
  color: #ffdd9d;
}

.text-hover-orange-light-6:hover {
  color: #ffdd9d;
}

.bg-orange-light-6 {
  background-color: #ffdd9d;
}

.text-orange-light-7 {
  color: #ffe5b5;
}

.text-hover-orange-light-7:hover {
  color: #ffe5b5;
}

.bg-orange-light-7 {
  background-color: #ffe5b5;
}

.text-orange-light-8 {
  color: #ffeece;
}

.text-hover-orange-light-8:hover {
  color: #ffeece;
}

.bg-orange-light-8 {
  background-color: #ffeece;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69808;
}

.text-hover-orange-dark-1:hover {
  color: #e69808;
}

.bg-orange-dark-1 {
  background-color: #e69808;
}

.text-orange-dark-2 {
  color: #cc8707;
}

.text-hover-orange-dark-2:hover {
  color: #cc8707;
}

.bg-orange-dark-2 {
  background-color: #cc8707;
}

.text-orange-dark-3 {
  color: #b37606;
}

.text-hover-orange-dark-3:hover {
  color: #b37606;
}

.bg-orange-dark-3 {
  background-color: #b37606;
}

.text-orange-dark-4 {
  color: #996505;
}

.text-hover-orange-dark-4:hover {
  color: #996505;
}

.bg-orange-dark-4 {
  background-color: #996505;
}

.text-orange-dark-5 {
  color: #805505;
}

.text-hover-orange-dark-5:hover {
  color: #805505;
}

.bg-orange-dark-5 {
  background-color: #805505;
}

.text-orange-dark-6 {
  color: #664404;
}

.text-hover-orange-dark-6:hover {
  color: #664404;
}

.bg-orange-dark-6 {
  background-color: #664404;
}

.text-orange-dark-7 {
  color: #4d3303;
}

.text-hover-orange-dark-7:hover {
  color: #4d3303;
}

.bg-orange-dark-7 {
  background-color: #4d3303;
}

.text-orange-dark-8 {
  color: #332202;
}

.text-hover-orange-dark-8:hover {
  color: #332202;
}

.bg-orange-dark-8 {
  background-color: #332202;
}

.text-orange-dark-9 {
  color: #1a1101;
}

.text-hover-orange-dark-9:hover {
  color: #1a1101;
}

.bg-orange-dark-9 {
  background-color: #1a1101;
}

.text-purple {
  color: rgb(133, 12, 133);
}

.text-hover-purple:hover {
  color: rgb(133, 12, 133);
}

.bg-purple {
  background-color: rgb(133, 12, 133);
}

.text-purple-light-1 {
  color: #912491;
}

.text-hover-purple-light-1:hover {
  color: #912491;
}

.bg-purple-light-1 {
  background-color: #912491;
}

.text-purple-light-2 {
  color: #9d3d9d;
}

.text-hover-purple-light-2:hover {
  color: #9d3d9d;
}

.bg-purple-light-2 {
  background-color: #9d3d9d;
}

.text-purple-light-3 {
  color: #aa55aa;
}

.text-hover-purple-light-3:hover {
  color: #aa55aa;
}

.bg-purple-light-3 {
  background-color: #aa55aa;
}

.text-purple-light-4 {
  color: #b66db6;
}

.text-hover-purple-light-4:hover {
  color: #b66db6;
}

.bg-purple-light-4 {
  background-color: #b66db6;
}

.text-purple-light-5 {
  color: #c286c2;
}

.text-hover-purple-light-5:hover {
  color: #c286c2;
}

.bg-purple-light-5 {
  background-color: #c286c2;
}

.text-purple-light-6 {
  color: #ce9ece;
}

.text-hover-purple-light-6:hover {
  color: #ce9ece;
}

.bg-purple-light-6 {
  background-color: #ce9ece;
}

.text-purple-light-7 {
  color: #dab6da;
}

.text-hover-purple-light-7:hover {
  color: #dab6da;
}

.bg-purple-light-7 {
  background-color: #dab6da;
}

.text-purple-light-8 {
  color: #e7cee7;
}

.text-hover-purple-light-8:hover {
  color: #e7cee7;
}

.bg-purple-light-8 {
  background-color: #e7cee7;
}

.text-purple-light-9 {
  color: #f3e7f3;
}

.text-hover-purple-light-9:hover {
  color: #f3e7f3;
}

.bg-purple-light-9 {
  background-color: #f3e7f3;
}

.text-purple-dark-1 {
  color: #780b78;
}

.text-hover-purple-dark-1:hover {
  color: #780b78;
}

.bg-purple-dark-1 {
  background-color: #780b78;
}

.text-purple-dark-2 {
  color: #6a0a6a;
}

.text-hover-purple-dark-2:hover {
  color: #6a0a6a;
}

.bg-purple-dark-2 {
  background-color: #6a0a6a;
}

.text-purple-dark-3 {
  color: #5d085d;
}

.text-hover-purple-dark-3:hover {
  color: #5d085d;
}

.bg-purple-dark-3 {
  background-color: #5d085d;
}

.text-purple-dark-4 {
  color: #500750;
}

.text-hover-purple-dark-4:hover {
  color: #500750;
}

.bg-purple-dark-4 {
  background-color: #500750;
}

.text-purple-dark-5 {
  color: #430643;
}

.text-hover-purple-dark-5:hover {
  color: #430643;
}

.bg-purple-dark-5 {
  background-color: #430643;
}

.text-purple-dark-6 {
  color: #350535;
}

.text-hover-purple-dark-6:hover {
  color: #350535;
}

.bg-purple-dark-6 {
  background-color: #350535;
}

.text-purple-dark-7 {
  color: #280428;
}

.text-hover-purple-dark-7:hover {
  color: #280428;
}

.bg-purple-dark-7 {
  background-color: #280428;
}

.text-purple-dark-8 {
  color: #1b021b;
}

.text-hover-purple-dark-8:hover {
  color: #1b021b;
}

.bg-purple-dark-8 {
  background-color: #1b021b;
}

.text-purple-dark-9 {
  color: #0d010d;
}

.text-hover-purple-dark-9:hover {
  color: #0d010d;
}

.bg-purple-dark-9 {
  background-color: #0d010d;
}

.text-gray {
  color: rgb(128, 128, 128);
}

.text-hover-gray:hover {
  color: rgb(128, 128, 128);
}

.bg-gray {
  background-color: rgb(128, 128, 128);
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-dark-1:hover {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-dark-2:hover {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-dark-3:hover {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-dark-4:hover {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-dark-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-dark-6:hover {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-dark-7:hover {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-dark-8:hover {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-dark-9:hover {
  color: #0d0d0d;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: rgb(10, 10, 10);
}

.text-hover-black:hover {
  color: rgb(10, 10, 10);
}

.bg-black {
  background-color: rgb(10, 10, 10);
}

.text-black-light-1 {
  color: #232323;
}

.text-hover-black-light-1:hover {
  color: #232323;
}

.bg-black-light-1 {
  background-color: #232323;
}

.text-black-light-2 {
  color: #3b3b3b;
}

.text-hover-black-light-2:hover {
  color: #3b3b3b;
}

.bg-black-light-2 {
  background-color: #3b3b3b;
}

.text-black-light-3 {
  color: #545454;
}

.text-hover-black-light-3:hover {
  color: #545454;
}

.bg-black-light-3 {
  background-color: #545454;
}

.text-black-light-4 {
  color: #6c6c6c;
}

.text-hover-black-light-4:hover {
  color: #6c6c6c;
}

.bg-black-light-4 {
  background-color: #6c6c6c;
}

.text-black-light-5 {
  color: #858585;
}

.text-hover-black-light-5:hover {
  color: #858585;
}

.bg-black-light-5 {
  background-color: #858585;
}

.text-black-light-6 {
  color: #9d9d9d;
}

.text-hover-black-light-6:hover {
  color: #9d9d9d;
}

.bg-black-light-6 {
  background-color: #9d9d9d;
}

.text-black-light-7 {
  color: #b6b6b6;
}

.text-hover-black-light-7:hover {
  color: #b6b6b6;
}

.bg-black-light-7 {
  background-color: #b6b6b6;
}

.text-black-light-8 {
  color: #cecece;
}

.text-hover-black-light-8:hover {
  color: #cecece;
}

.bg-black-light-8 {
  background-color: #cecece;
}

.text-black-light-9 {
  color: #e7e7e7;
}

.text-hover-black-light-9:hover {
  color: #e7e7e7;
}

.bg-black-light-9 {
  background-color: #e7e7e7;
}

.text-black-dark-1 {
  color: #090909;
}

.text-hover-black-dark-1:hover {
  color: #090909;
}

.bg-black-dark-1 {
  background-color: #090909;
}

.text-black-dark-2 {
  color: #080808;
}

.text-hover-black-dark-2:hover {
  color: #080808;
}

.bg-black-dark-2 {
  background-color: #080808;
}

.text-black-dark-3 {
  color: #070707;
}

.text-hover-black-dark-3:hover {
  color: #070707;
}

.bg-black-dark-3 {
  background-color: #070707;
}

.text-black-dark-4 {
  color: #060606;
}

.text-hover-black-dark-4:hover {
  color: #060606;
}

.bg-black-dark-4 {
  background-color: #060606;
}

.text-black-dark-5 {
  color: #050505;
}

.text-hover-black-dark-5:hover {
  color: #050505;
}

.bg-black-dark-5 {
  background-color: #050505;
}

.text-black-dark-6 {
  color: #040404;
}

.text-hover-black-dark-6:hover {
  color: #040404;
}

.bg-black-dark-6 {
  background-color: #040404;
}

.text-black-dark-7 {
  color: #030303;
}

.text-hover-black-dark-7:hover {
  color: #030303;
}

.bg-black-dark-7 {
  background-color: #030303;
}

.text-black-dark-8 {
  color: #020202;
}

.text-hover-black-dark-8:hover {
  color: #020202;
}

.bg-black-dark-8 {
  background-color: #020202;
}

.text-black-dark-9 {
  color: #010101;
}

.text-hover-black-dark-9:hover {
  color: #010101;
}

.bg-black-dark-9 {
  background-color: #010101;
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-hover-white:hover {
  color: rgb(255, 255, 255);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.card {
  display: block;
  padding: 12px;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}
.card .card-body {
  font-size: 16px;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(0, 162, 255);
  border: 0;
}
.btn-primary:hover {
  color: white;
  background-color: #1aabff;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(0, 162, 255);
}
.btn-outlined-primary:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(0, 162, 255);
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(0, 162, 255);
  color: #ff630a;
}
.btn-complement-primary:hover {
  color: rgb(0, 162, 255);
  background-color: #ff630a;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(2, 145, 85);
  border: 0;
}
.btn-secondary:hover {
  color: white;
  background-color: #02aa64;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(2, 145, 85);
}
.btn-outlined-secondary:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(2, 145, 85);
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(2, 145, 85);
  color: #9b0242;
}
.btn-complement-secondary:hover {
  color: rgb(2, 145, 85);
  background-color: #9b0242;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgba(248, 50, 50, 0.904);
  border: 0;
}
.btn-error:hover {
  color: white;
  background-color: rgba(249, 75, 75, 0.904);
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgba(248, 50, 50, 0.904);
}
.btn-outlined-error:hover {
  color: rgb(221, 195, 147);
  background-color: rgba(248, 50, 50, 0.904);
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgba(248, 50, 50, 0.904);
  color: rgba(60, 248, 248, 0.904);
}
.btn-complement-error:hover {
  color: rgba(248, 50, 50, 0.904);
  background-color: rgba(60, 248, 248, 0.904);
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(226, 226, 40);
  border: 0;
}
.btn-info:hover {
  color: white;
  background-color: #e5e53e;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(226, 226, 40);
}
.btn-outlined-info:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(226, 226, 40);
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(226, 226, 40);
  color: #3131e3;
}
.btn-complement-info:hover {
  color: rgb(226, 226, 40);
  background-color: #3131e3;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(0, 0, 255);
  border: 0;
}
.btn-blue:hover {
  color: white;
  background-color: #1a1aff;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(0, 0, 255);
}
.btn-outlined-blue:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(0, 0, 255);
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(0, 0, 255);
  color: #ffff0a;
}
.btn-complement-blue:hover {
  color: rgb(0, 0, 255);
  background-color: #ffff0a;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(253, 14, 14);
  border: 0;
}
.btn-red:hover {
  color: white;
  background-color: #fd2727;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(253, 14, 14);
}
.btn-outlined-red:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(253, 14, 14);
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(253, 14, 14);
  color: #18fdfd;
}
.btn-complement-red:hover {
  color: rgb(253, 14, 14);
  background-color: #18fdfd;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(252, 252, 11);
  border: 0;
}
.btn-yellow:hover {
  color: white;
  background-color: #fcfc24;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(252, 252, 11);
}
.btn-outlined-yellow:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(252, 252, 11);
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(252, 252, 11);
  color: #1515fc;
}
.btn-complement-yellow:hover {
  color: rgb(252, 252, 11);
  background-color: #1515fc;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(6, 128, 6);
  border: 0;
}
.btn-green:hover {
  color: white;
  background-color: #079807;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(6, 128, 6);
}
.btn-outlined-green:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(6, 128, 6);
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(6, 128, 6);
  color: #8a068a;
}
.btn-complement-green:hover {
  color: rgb(6, 128, 6);
  background-color: #8a068a;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(255, 169, 9);
  border: 0;
}
.btn-orange:hover {
  color: white;
  background-color: #ffb223;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(255, 169, 9);
}
.btn-outlined-orange:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(255, 169, 9);
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(255, 169, 9);
  color: #1366ff;
}
.btn-complement-orange:hover {
  color: rgb(255, 169, 9);
  background-color: #1366ff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(133, 12, 133);
  border: 0;
}
.btn-purple:hover {
  color: white;
  background-color: #9c0e9c;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(133, 12, 133);
}
.btn-outlined-purple:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(133, 12, 133);
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(133, 12, 133);
  color: #0d8e0d;
}
.btn-complement-purple:hover {
  color: rgb(133, 12, 133);
  background-color: #0d8e0d;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(128, 128, 128);
  border: 0;
}
.btn-gray:hover {
  color: white;
  background-color: #8d8d8d;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(128, 128, 128);
}
.btn-outlined-gray:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(128, 128, 128);
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(128, 128, 128);
  color: #858585;
}
.btn-complement-gray:hover {
  color: rgb(128, 128, 128);
  background-color: #858585;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(10, 10, 10);
  border: 0;
}
.btn-black:hover {
  color: white;
  background-color: #171717;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(10, 10, 10);
}
.btn-outlined-black:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(10, 10, 10);
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(10, 10, 10);
  color: #0f0f0f;
}
.btn-complement-black:hover {
  color: rgb(10, 10, 10);
  background-color: #0f0f0f;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 0;
}
.btn-white:hover {
  color: white;
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid rgb(255, 255, 255);
}
.btn-outlined-white:hover {
  color: rgb(221, 195, 147);
  background-color: rgb(255, 255, 255);
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: white;
}
.btn-complement-white:hover {
  color: rgb(255, 255, 255);
  background-color: white;
}