// google fonts 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');

*{
    color: inherit;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}



ul{
    padding: 0;
    list-style-type: none;
}

a{
    // text-decoration: none;
    color: $secondary;
}

hr{
    border: $base-border-thickness dotted $error;
}

img{
    max-width: 100%;
}

