// variables
// colors
$primary: rgb(0, 162, 255);
$secondary: rgb(2, 145, 85);
$error: rgba(248, 50, 50, 0.904);
$info: rgb(226, 226, 40);

// spacing
$base-padding: 10px;
$base-margin: 5px;

// borders
$base-borders-thickness: 1px;

// fontsize
$fontSize: 16px;
