// variables
// colors
$primary: rgb(0, 162, 255);
$secondary: rgb(2, 145, 85);
$error: rgba(248, 50, 50, 0.904);
$info: rgb(226, 226, 40);

// spacing
$base-padding: 12px;
$base-margin: 12px;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// fontsize
$base-font-size: 16px;
$base-font-size-sm:  $base-font-size * 0.75;
$base-font-size-lg: $base-font-size * 1.5;
$base-font-size-xl: $base-font-size * 2;
$base-font-size-xxl: $base-font-size * 3;